html{
    font-family: Courier;
    height:100%;
}
body{
    margin:0;
    min-height: 100%;
    display: flex;
    flex:auto;
    flex-direction: column;

}
.content{
    display: flex;
    flex-direction: row;
    flex: auto;
    overflow:hidden;
}
#post-section,#user-section,#comment-section,#reported-comments,#reported-users{
    border:1px solid black;
}
table{
    border-collapse: collapse;
}
th,td:not([class="button"]){
    border: 1px solid black;
}
#reported-comments,#reported-users{
    min-width:20%;
}
#user-section{
    max-width:50%;
}
#post-section{
    max-width:30%;
}

.comment-website span{
    font-weight: bold;
    font-style: italic;
}

.comment:hover{
    background-color: darkgrey;
}

h1{
    text-align: center;
}

.reported-comments{
    color:red;
}

.reported-comments~section {
    border: 1px solid red;
}