html{
    height:100%;
}
body{
    margin:0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 0 auto;
    overflow:hidden;

}
#user-table{
    display:table;
}

.user-table-block-button{
    align-self: flex-end;
}

.user-table-row{
    display:table-row;
}
.user-table-cell{
    display:table-cell;
    border: #000000 solid 1px;
}

footer{
    margin:0;
    color:white;
    height:30px;
    background-color: black;
    flex-shrink: 0;
}