html{   
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

#post-title-editor{
    overflow-y: scroll;
    outline-style: solid;
    outline-width: 3px;
}  

#post-body-editor{
    overflow-y: scroll;
    outline-style: solid;
    outline-width: 3px;
}

button{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

button:hover {background:gray;}


#post-body-editor:focus,#post-title-editor:focus {
    outline-style: solid;
    outline-width: 3px;
}

body{
  overflow: hidden;
}
