<html>
<body>
<script type="text/javascript" src="text-editor.js"></script>
<link rel="stylesheet" type="text/css" href="text-editor.css">
<label for="post-title">Title:</label>
<div id="post-title-editor" contenteditable=true>
</div>
<label for="post-body">
    Post-Body
</label>
<ul>
    <li><button type="button" class="button" value="Bold" onclick="formatBold()">Bold</button></li>
    <li><button type="button" class="button" value="Italic" onclick="formatItalic()">Italic</button></li>
    <li><button type="button" class="button" value="Underline" onclick="formatUnderline()">Underline</button></li>
    <li><button type="button" class="button" value="Insert Link" onclick="formatInsertLink()">Insert Link</button></li>
    <li><button type="button" class="button" value="Copy" onclick="copyContent()">Copy</button></li>
    <li><button type="button" class="button" value="Paste" onclick="appendnode()">Paste</button></li>
    <li><button type="button" class="button" value="Test" onclick="iframeInit()">Test</button></li>
  </ul>
          <div id="post-body-editor" contenteditable=true>
          </div>
</body>
</html>